{% extends "base.html" %}

{% block content %}

{% if exploit_sent %}
<div class="alert alert-success">
 <strong> Всемирная ассоциация скрипт-кидди благодарит вас!</strong>  <br>Мы обязательно попробуем скопипастить ваш эксплоит из нашей секретной браузерной админки.
</div>
{% endif %}
<form method=post>
 <div class="form-group">
  <label for="exploit"><h1>&darr; Взламывать сюда &darr;</h1></label>
  <textarea class="form-control" rows="10" id="exploit" name="exploit"></textarea>
  <br>
  <button type="submit" style="display: block; width: 100%;" class="btn btn-danger">Я сделяль</button>
</div>
</form>
{% endblock %}
